.Task, .TaskOverdue  {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: #64ff8a;
  height: 300px;
  text-align: center;
  /* Границы для тасков */
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);


}
.TaskOverdue{
  background-color: #ff4040;
  
}


.Task__files {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin: 20px 0px 20px 20px;
  padding: 0px;
  font-size: 20px;
  font-weight: 800;
  color: black;
  background-color: white;
  height: 30px;
  border-radius: 5px;
}

.Task__Title,.Task__checkbox {
 color: black;
}
.Task__label{
  width:100%;
}

.btn {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  width: 100px;
  cursor: pointer;
  border-width: 1px;
  text-rendering: auto;
  font: 400 16px system-ui;
  border-radius: 4px;
  font-weight: 800;
  height: 30px;
  margin:2px;

}
.rem{

  background-color:#ff4c5b;
}
.change{
  background-color: #0084cd;
}
.unload{

  background-color: #fbec5d;
}

.Task__title {
  color: black;
}
.Task__date {
  color: black;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 350px) {
  .Task, .TaskOverdue  {
    height: 500px;
  }
}


