.Attention_hide {
  display: none;
  margin-top: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Attention_vis {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 20px;
}
