* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
 
 
}
.Tasks{

  max-width: 100%; 
}
